body {
	text-align: center;
	text-decoration: none;
	background-image: url("images/hero.jpg");
}

h1 {
	color: #FFFFFF
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	text-transform: small-caps;
}

#slogan {
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
}

p {
	color: #FFFFFF;
	font-size: 18px;
}

ul {
	text-align: center;
}

img {
	height: 200px;
}