body {
	background-color: #fffdd0;
	text-align: center;
	text-decoration: none;
}

h1 {
	color: #0b0b29
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	text-transform: small-caps;
}

#slogan {
	color: #0b0b29;
	font-size: 24px;
	text-align: center;
}

p {
	color: #0b0b29;
	font-size: 18px;
	font-weight: lighter;
}

img {
	width: 100%;
}